*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home-main {
    
    grid-column:2 ;

   height: 100%;
   max-height: 600px;

}

.home-body{

    width:100%;
    background-color: rgb(9, 37, 58);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-image:url('../img/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
}

.box{

    background-color: rgb(9 , 37, 58) ;
    max-width:100%;
    padding: 20px;
    border-radius: 15px;
}

.control-box{
    width:100%;
    max-width: 450px;
    background-color: rgb(9 , 37, 58, 0.5) ;
    border-radius: 20px;
}

.home-main, .control-box{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box, .control-box{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;; 
}

.name,.password{
width: 100%;

display: flex;
font-size: 20px;
background-color:rgb(2, 51, 88) ;
color: #fff;

border-radius: 10px;



}
.Label1,.Label2{

    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    
}

.parrafo{

    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
}

.btn{

    width: 100%;
    max-width: 100px;
  
    margin: 5px 0;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
}

.btn:hover{
background-color:rgba(13, 80, 131, 0.5)  ;
color: #fff;
transform: scale(1.3);
}
.btn:active{
    background-color:rgb(15, 93, 153) ;
}

.avatar{

    width: 50%;
    max-width: 80px;
    margin: 20px 0px;
    height: auto;
}

.registro{
    color: #fff;
    font-family: sans-serif;
    font-weight: 200;
   
}

.link{
color: #fff;
}

